@import '../core/_mixins.scss';
@import '../core/_variables.scss';


.link {
  text-decoration: none;
}

.character {
  box-sizing: border-box;
  display: flex;
  
  border-radius: 25px;
  box-shadow: 5px 5px 10px $color-icon;
  border: 3px solid $color-detail;

  &__img {
    
    width: 200px;
    border-radius: 22px 22px 0 0 ;
    display: block;
  }

  &__text {

    justify-content: flex-end;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    &--name {
        margin: 65px 25px 0 25px;
      color: white;
      padding: 3px 0 5px 0;
      background-color: rgba(38, 50, 230, 0.5);
      border-radius: 10px;
      font-family: $font-title;
    }
    &--info {
        font-family: $font-main;
    }
  }
}
