@import '../core/_mixins.scss';
@import '../core/_variables.scss';

.list {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, minmax(rem(50), 100));
  grid-gap: rem(10);

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}
.character {
  &__article {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 25px;
  }

  &__list {
    width: 200px;
    margin: 20px;
    display: inline;
  }
}
