// fonts
$font-main: "Open Sans", sans-serif;
$font-title: 'Cabin Sketch', cursive;

// colors
$color-icon: #ffffff;
$color-main: #114e4e;
$color-button: #304668;
$color-fontMain: #54585a;
$color-light: #ffffff;
$color-background: #000000,
